body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.container {
    width: 100%;
}

.currency, .swap-rate-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    height: 100px;
}

